h1 {
    font-size: 20px;
    color:darkslategrey;
    text-align: center;
    font-family:monospace
}

*{background-color:ivory}

p, ul {
    color:cadetblue;
    font-size: 16px;
    text-align: center;
    font-family:monospace
}

img{
    width: 75%;
    text-align: center;
}

.aligncenter {
    text-align: center;
}